{% extends "base.html" %}
{% block content %}
<h1 class="display-1 text-center">Debugger Report</h1>
<br />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#summary">Summary</a>
    </li>
    <li class="nav-item">
        {% if issues and (issues.get('errors') or issues.get('warnings')) %}
        <button type="button" class="nav-link" data-toggle="tooltip" data-placement="top"
            title="Issues found">Issues</button>
        {% else %}
        <button type="button" class="nav-link disabled" data-toggle="tooltip" data-placement="top"
            title="Issues not found">Issues</button>
        {% endif %}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#diagnostics">Diagnostics</a>
    </li>
</ul>

<hr />
<br />
<h2 id="summary" class="display-2 text-center">Summary</h2>
<br />

<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Repository</td>
            <td>{{ repository.get('name') }}</td>
        </tr>
        <tr>
            <td>Lines of Code (parsed, CodeQL)</td>
            <td>{{ statistics.get('loc',{}).get('java',{}).get('results',[{}])[0].get('col0','NA') }}</td>
        </tr>
        <tr>
            <td>Sources</td>
            <td>{{ analysis.get('sources',{}).get('java',{}).get('results',[{}])[0].get('col0','NA') }}</td>
        </tr>
        <tr>
            <td>Sinks (Databases)</td>
            <td>{{ analysis.get('sinks_db',{}).get('java',{}).get('results',[{}])[0].get('col0','NA') }}</td>
        </tr>
        <tr>
            <td>Sinks (XSS)</td>
            <td>{{ analysis.get('sinks_xss',{}).get('java',{}).get('results',[{}])[0].get('col0','NA') }}</td>
        </tr>
    </tbody>
</table>

<br />
<hr />
<br />
{% if issues and (issues.get('errors') or issues.get('warnings')) %}
{% include 'components/issues.html' with context %}
<br />
<hr />
<br />
{% endif %}


{% if diagnostics %}
<h2 id="diagnostics" class="display-2 text-center">Diagnostics</h2>
<br />
<h3 class="display-3 text-center">Parsing</h3>
<br />
{% include 'components/parsing.html' with context %}
<br />
<hr />
<br />
{% endif %}

{% endblock %}